name: Generate Lockfile

on:
  push:
    paths:
      - 'package.json'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-lock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Commit package-lock.json
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update package-lock.json [skip ci]"
          file_pattern: package-lock.json
