name: Test Build

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  test-dist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Run Test Script
        run: node test.js
